@font-face {
    font-family: Classic Console Neue;
    src: url(clacon2.ttf);
}

* {
    font-family: Classic Console Neue;
    user-select: none;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

page {

    width: 80%;

}

.dir {

    filter: opacity(20%);

}

a {

    text-decoration: none;
    color: white;

}

.hoverable:hover::after{
    content: " <";
}